/* 使笔记内容在阅读和编辑视图下都靠左显示 */
.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer,
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: var(--file-line-width);
    margin-left: 0px;
    margin-right: auto;
}
